button, .btn, input[type="submit"] {
	border:none;
	background: $grey3;
	color:$white;
	padding:15px 50px;
	line-height:20px;
  border-radius:3px;
  &:focus {
    outline: none;
  }
  &.tweet-me {
    z-index: 90;
  }
}

.btn-load-more {
  margin:40px auto;
  display: inline-block;
  font-size:18px;
  font-weight:bold;
  border-radius:3px;
  text-transform: uppercase;
}