button, .btn, input[type="submit"] {
	border:none;
	background: $grey3;
	color:$white;
	padding:15px 50px;
	line-height:20px;
  border-radius:3px;
  text-decoration: none;
  &:focus {
    outline: none;
  }
  &.tweet-me {
    z-index: 90;
    font-size: 0;
    line-height: 0;
    background: none;
    padding: 0;
    background: url(../img/svg/icon-tweet.svg) no-repeat center center;
    background-size: contain;
    width: 34px;
    height: 32px;
    transition: opacity .3s;
    &:hover {
      opacity: .7;
      transition: opacity .3s;
    }
  }
  .hentry &, .text-content &, .report-content & {
    @media (max-width:$screen-xs-max) {
      display: block;
      text-align: center;
    }
  }
}

.btn-load-more {
  margin:40px auto;
  display: inline-block;
  font-size:18px;
  font-weight:bold;
  border-radius:3px;
  text-transform: uppercase;
}