@mixin colors($variable) {
border-color:$variable;
  &.nav-list li {
		border-color:darken($variable,30%);
		&.heading {
			border-color:$variable;
		}
		&:not(.heading) a:hover {
			background: $variable;
			color:$white;
		}
	}
	> li.heading a, 
	.color, 
	blockquote,
	.footer-post-nav .section-name {
		color:$variable;
	}
	&.grid-report,
	&.grid-page,
	.bg-color {
		background-color:$variable;
		a {
			color:$black;
		}
		.breadcrumbs .color {
			color:$white;
		}
		.breadcrumbs strong {
			color:$black;
		}
	}
	.side-nav li a {
		border-color: lighten($variable, 30%);
	}
	.section-title,
	.footer-post-nav li {
		border-color:$variable;
	}
	.footer-post-nav a:hover,
	.page-header,
	&.grid-item:hover,
	.campaign-grid li a:hover {
		background-color:$variable;
		transition:background-color .25s;
	}
	.campaign-grid li a:hover {
		transition:background-color .25s;
		background-color:rgba($variable, .9);
	}
	&.grid-item:hover .breadcrumbs .color,
	&.grid-item:hover .breadcrumbs strong {
		color:$white;
	}
}

.prevention { @include colors($prevention) }
.schools { @include colors($schools) }
.places { @include colors($places) }
.grants-and-funding { @include colors($grants) }
.youth-in-action { @include colors($action) }
.neighborhoods { @include colors($neighborhoods) }
.secondary { @include colors($yellow) }