* {
  @include box-sizing(border-box);
}
*:before,
*:after {
  @include box-sizing(border-box);
}

body {
	background: $offWhite;
}

.main {
	/* temporary! */
	min-height:2941px;
}

.entry-content {
	max-width:811px;
}