* {
  @include box-sizing(border-box);
}
*:before,
*:after {
  @include box-sizing(border-box);
}

body {
	background: $offWhite;
}

.hentry,
.sidebar {
	padding:35px 0 0;
}

.content-page {
	padding:50px 0 35px;
	max-width:1000px;
	margin:0 auto;
	.search-results & {
		padding-top:120px;
	}
}

.entry-content {
	max-width:811px;
	padding:0 0 75px 0;
}

.main {
	//background: $body-bg;
	background: $white;
	z-index:1;
	position: relative;
	.home &, .page-template-page-campaign-detail-php & {
		background: none;
	}
}

.v-centered {
	top:50%;
	transform:translate3d(0,-50%,0);
	position: relative;
}

.stripe {
	width: 100%;
	padding:40px 0;
	&.bg-image {
		height: 300px;
		overflow: hidden;
		.page-template-page-campaign-detail-php & {
			height:368px;
		}
	}
}

.container {
	.home & {
		max-width:1000px;
		padding: 0;
	}
}