body {
	font-family:$font-family-base;
	font-size:$font-size-base;
	line-height:1.8;
}

h1,h2,h3,h4,h5,h6, .heading-font {
  font-feature-settings:"kern";
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  font-family:$headings-font-family;
  font-weight:700;
  .footer & {
    margin:0;
  }
}

p {
  .footer & {
    margin:0;
  }
}

b, strong {
  font-weight:800;
}

.lead {
  font-size: floor(($font-size-base * 1.5));
  font-weight: 500;
  line-height: 1.8;

  @media (min-width: $screen-sm-min) {
    font-size: ($font-size-base * 1.5);
  }
}

.page-title {
  font-size:50px;
  line-height:48px;
  color:$white;
  text-transform: uppercase;
  margin:0;
}

.white-text {
  color:$white;
}