// Primary Categories

$neighborhoods: #D8673D;
$prevention: #3FBCA3;
$schools: #12A8C5;
$places: #C10512;
$grants: #5C256E;
$action: #416386;

// Accent Colors

$accentDark: #272A3F;
$accentLight: #3A406D;

// Typography Colors

$white: #fff;
$black: #000;
$grey1: #383838;
$grey2: #bdbdbd;
$grey3: #7f7f7f;
$grey4: #acacac;
$offWhite: #f9f9f9;

$linkColor: $grey3;
$linkHover: $grey1;