// Layout Specifics

$headerHeight: 99px;

// Primary Categories

$neighborhoods: #d9673e;
$prevention: #15c6a7;
$schools: #07a8c6;
$places: #C10512;
$grants: #79358a;
$action: #ff0078;

// Accent Colors

$accentDarker: #1f2233;
$accentDark: #272A3F;
$accentLight: #3A406D;
$accentLighter: #777987;

// Typography Colors

$white: #fff;
$black: #7B7B7B;
$blackLighter: #2f2f2f;
$grey1: #383838;
$grey2: #bdbdbd;
$grey3: #7f7f7f;
$grey4: #acacac;
$offWhite: #f9f9f9;
$yellow: #c5b634;
$blueLight: #07a8c6;
$orange: #d9673e;
$red: #d51f2c;
$green: #15c7a7;

// Typography

$font-family-base: "source-sans-pro", sans-serif;
$headings-font-family: "azo-sans-web", sans-serif;

$font-size-base: 20px;

$body-bg:darken($white,5%);

$linkColor: $grey3;
$linkHover: $grey1;