.footer {
	background: $accentDarker;
	color:$white;
	padding:35px 0 42px 0;
	position: relative;
	.home & {
		padding-top:0;
	}
	input {
		color:$white;
		padding: 12px 10px;
		font-size: 1.2em;
		letter-spacing: 1px;
		&[type=email],
		&[type=text] {
			background: $accentDarker;
			border: none;
			margin-right:17px;
		}
		&[type=text] {
			width:206px;
		}
		&[type=email] {
			width:394px;
		}
		&[type=submit] {
			background: none;
			border:2px solid $white;
			border-radius:3px;
			padding:9px 21px;
			transition:background .25s;
			transition:border .35s;
			&:hover {
				background: $accentDarker;
				border-color:$accentDarker;
				transition:background .35s;
				transition:border .45s;
			}
		}
	}
	a {
		color:$white;
	}
	.ui-group {
		vertical-align: middle;
		line-height:3.5;
	}
}

.footer-cta-wrap {
	margin:0 0 35px 0;
	.nb-cta-text, input {
		display: inline-block;
		vertical-align: middle;
	}
	.nb-cta-text {
		margin:0 100px 0 0;
		line-height: 46px;
	}
}

.footer-add-padding {
	margin-top: 21em;
	padding-top: 8em;
	.page-template-page-campaign-detail-php & {
		margin-top:29em;
	}
}

.footer-light-blue-wrap {
	background: $accentDark;
	padding:38px 0 14px;
}

.footer-nav {
	font-size:17px;
	color:$grey3;
	font-weight:100;
	a {
		color:$grey4;
		font-weight:500;
		padding:0 .75em 0 0;
		&:hover {
			color:$white;
		}
	}
	.social-icons {
		margin-left:1em;
	}
}

.footer-logo {
	position: relative;
	img {
		margin:0 0 0 -58px;
	}
}

.footer-copyright {
	text-transform: uppercase;
	opacity: 0.5;
	font-size: 12px;
	letter-spacing: 1px;
	position: absolute;
	top: 50px;
	left: 7px;
}