.brand {
	margin:10px 0 0;
	display: inline-block;
	width:122px;
}

.banner {
	background:$white;
	background:rgba(255,255,255,.902);
	padding:20px 0 30px;
	height:$headerHeight;
	z-index:999;
	.search-form,
	.nav-collapse {
		display: inline-block;
	}
	.home & {
		.pull-right {
			margin-right:-7em;
		}
	}
}

#fixed {
	position:fixed;
	width:100%;
	left:0;
	top:0;
	.logged-in & {
		top:46px;
		@media (min-width:783px) {
			top:32px;
		}
	}
}

.page-header {
	background-color:$schools;
	background-position:bottom center;
	background-image:url(../img/svg/pattern.svg);
	background-repeat:repeat;
	height:415px;
	text-align:center;
	margin:0;
	padding:100px 0 0;
	&.has-image {
		background:none;
		height:570px;
		position: relative;
		div {
			height:720px;
			background-repeat:no-repeat;
			background-size:cover;
			background-position:center bottom;
			position: absolute;
			top:-100px;
			left:0;
			width:100%;
		}
	}
	&.text-right {
		text-align: right;
		.page-title {
			max-width: 1170px;
			@media (min-width:$screen-lg-min) {
				margin-right: 6.4em;
			}
		}
	}
	.page-title {
		max-width: 835px;
		margin: 0 auto;
	}
}

.page-header-fixed {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	z-index:0;
	transform:translate3d(0,0,0);
	.has-image & {
		height:602px;
	}
}