.brand {
	margin:10px 0 0;
	display: inline-block;
	width:122px;
}

.banner {
	background:$white;
	background:rgba(255,255,255,.902);
	padding:20px 0 30px;
	height:$headerHeight;
	z-index:999;
	.search-form,
	.nav-collapse {
		display: inline-block;
	}
}

#fixed {
	position:fixed;
	width:100%;
	left:0;
	top:0;
	.logged-in & {
		top:46px;
		@media (min-width:783px) {
			top:32px;
		}
	}
}

.page-header {
	background-size: cover;
	background-position:bottom center;
	height:415px;
	text-align:center;
	margin:0;
	padding:105px 0 0;
	.page-title {
		top:50%;
		transform:translate3d(0,-50%,0);
		position: relative;
		max-width: 760px;
		margin: 0 auto;
	}
}