.home {
	background-image:url(../img/home-billboard-bg.jpg);
	background-repeat:no-repeat;
	background-position:center top;
}

.hero-container {
	color:$accentDark;
	a {
		color:$accentDark;
	}
	padding-top:$headerHeight;
	max-width:1000px;
	@media (min-width:$screen-sm-min) {
		height:600px;
	}
}

.hero-lead {
	font-size:60px;
	font-weight:900;

	text-transform: uppercase;
	margin:.1em 0 .15em;
	line-height: 1;
}

.hero-subtitle {
	font-size:28px;
	line-height:1.2;
}

.hero-nav {
	text-align: right;
	float:right;
}

.hero-subtitle-text,
.hero-subtitle-arrow {
	display: inline-block;
	vertical-align: middle;
}

.hero-subtitle-arrow {
	width:24px;
	height:46px;
	margin:0 0 0 22px;
	transition:margin .25s;
}

.hero-container-text {
	&:hover {
		.hero-subtitle-arrow {
			margin:0 0 0 30px;
			transition:margin .35s;
		}
	}
}

.hero-nav {
	font-size:21px;
	font-weight:bold;
	position: relative;
	z-index:20;
	li {
		line-height: 1;
		&.hero-nav-intro {
			margin:40px 0 21px;
		}
	}
	li a {
		padding:13px 20px 13px 7px;
		display: inline-block;
		position: relative;
		overflow: hidden;
	}
	.hero-nav-color-block {
		position: absolute;
		top:2px;
		right:0;
		left:calc(100% - 7px);

		padding:0 13px;
		line-height:47px;

		color:$white;

		transition:all .75s ease;

		transform:translate3d(0,0,0);
	}
	li a:hover {
		.hero-nav-color-block {
			left:-100%;
			right:0;
			transition:all .35s ease;
		}
	}
	li {
		&.neighborhoods {
			a {
				color:$neighborhoods;
			}
			.hero-nav-color-block {
				background: $neighborhoods;
			}
		}
		&.prevention {
			a {
				color:$prevention;
			}
			.hero-nav-color-block {
				background: $prevention;
			}
		}
		&.schools {
			a {
				color:$schools;
			}
			.hero-nav-color-block {
				background: $schools;
			}
		}
		&.places {
			a {
				color:$places;
			}
			.hero-nav-color-block {
				background: $places;
			}
		}
		&.grants {
			a {
				color:$grants;
			}
			.hero-nav-color-block {
				background: $grants;
			}
		}
		&.action {
			a {
				color:$action;
			}
			.hero-nav-color-block {
				background: $action;
			}
		}
	}
}

@media (min-width:$screen-sm-min) {
	.hero-container-text, .hero-nav {
		top:50%;
		transform:translate3d(0,-50%,0);
		position: relative;
	}
}

// Filters

.filters {
	margin:0;
	padding:0;
	// Global
	li a {
		color:$white;
		background-color:$accentDark;
		display: block;
		padding:25px;
		span {
			font-size:27px;
			font-family:$headings-font-family;
			text-transform: uppercase;
			color:$accentLighter;
			display: block;

		}
		&:hover {
			background-color: $accentLight;
			background-image:none;
			transition:background .35s ease;
			&:after {
				border:2px solid $white;
				transition:border-color .35s ease;
			}
		}
	}

	// Top Level
	> li {
		line-height:1;
		float:left;
		width:33.333%;
		width:calc(100% / 3);
		position: relative;
		overflow: hidden;
		&.active {
			overflow: visible;
		}
	}
	> li > a {
		padding-right:70px;
		position: relative;
		transition:background .25s ease;
		background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAA+CAYAAADqOXHxAAAAFUlEQVQoU2P4//+/MAOQkBoliCbEAVA4v4lQh5RzAAAAAElFTkSuQmCC);
		background-repeat: no-repeat;
		background-position: center right;
		cursor: pointer;
		&:after {
			width:31px;
			height:31px;
			background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAQCAYAAADwMZRfAAAAMklEQVQ4y2NgwAP+////DIQZKAGjhlBgCFARPx78DIrxqWFkQFJILuajjiGjUTzcDQEAKZUdALYkK+QAAAAASUVORK5CIIA=) no-repeat center center;
			border:2px solid $accentLighter;
			content:"";
			display: block;
			border-radius:50%;
			position: absolute;
			right:25px;
			top:50%;
			margin-top:-15px;
			transition:border-color .25s ease;
		}
	}

}

.sub-filter {
	position: absolute;
	z-index:20;

	top:-120px;
	left:0;

	width:100%;
	height:320px;

	overflow: hidden;
	overflow-y: scroll;

	transform:translate3d(-100%,-100%,0);

	max-height:90px;
	transition:max-height 2s;

	.active & {
		transform:translate3d(0,0,0);
		max-height:999px;
	}

	li a {
		background: $white;
		color:$accentDark;
		&:hover {
			color:$white;
		}
	}
}


.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  background: #EEE;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;
}

.button:hover {
  background-color: #8CF;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}

.button:active,
.button.is-checked {
  background-color: #28F;
}

.button.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }

/* ---- isotope ---- */

.isotope {
  background: #DDD;
  max-width: 1200px;
}

/* clear fix */
.isotope:after {
  content: '';
  display: block;
  clear: both;
}

/* ui group */

.ui-group {
  display: inline-block;
}

.ui-group h3 {
  display: inline-block;
  vertical-align: top;
  line-height: 32px;
  margin-right: 0.2em;
  font-size: 16px;
}

.ui-group .button-group {
  display: inline-block;
  margin-right: 20px;
}

/* color-shape */

.color-shape {
  width: 70px;
  height: 70px;
  margin: 5px;
  float: left;
}
 
.color-shape.round {
  border-radius: 35px;
}
 
.color-shape.big.round {
  border-radius: 75px;
}
 
.color-shape.red { background: red; }
.color-shape.blue { background: blue; }
.color-shape.yellow { background: yellow; }
 
.color-shape.wide, .color-shape.big { width: 150px; }
.color-shape.tall, .color-shape.big { height: 150px; }