.home {
	background-image:url(../img/home-billboard-bg.jpg);
	background-repeat:no-repeat;
	background-position:center top;
}

.hero-container {
	color:$accentDark;
	a {
		color:$accentDark;
	}
	padding-top:$headerHeight;
	@media (min-width:$screen-sm-min) {
		height:600px;
	}
}

.hero-lead {
	font-size:40px;
	@media (min-width:$screen-md-min) {
		font-size:60px;
	}
	
	font-weight:900;

	text-transform: uppercase;
	margin:.1em 0 .15em;
	line-height: 1;
}

.hero-subtitle {
	font-size:28px;
	line-height:1.2;
	@media (max-width:$screen-sm-max) {
		br {
			display: none;
		}
	}
}

.hero-nav {
	text-align: right;
	float:right;
	@media (max-width:$screen-xs-max) {
		display: none;
	}
}

.hero-subtitle-text,
.hero-subtitle-arrow {
	display: inline-block;
	vertical-align: middle;
}

.hero-subtitle-arrow {
	width:24px;
	height:46px;
	margin:0 0 0 22px;
	transition:margin .25s;
	@media (max-width:$screen-xs-max) {
		display: none;
	}
}

.hero-container-text {
	&:hover {
		.hero-subtitle-arrow {
			margin:0 0 0 30px;
			transition:margin .35s;
		}
	}
	@media (max-width:$screen-sm-max) {
		padding: 1em 0;
		max-width:500px;
	}
}

.hero-nav {
	font-size:21px;
	font-weight:bold;
	position: relative;
	z-index:20;
	transform:translate3d(0,0,0) scale(1.0,1.0);
	backface-visibility: hidden;
	li {
		line-height: 1;
		
		&.hero-nav-intro {
			margin:40px 0 21px;
		}
	}
	li a {
		padding:13px 20px 13px 7px;
		display: inline-block;
		position: relative;
		overflow: hidden;
		transform:translate3d(0,0,0) scale(1.0,1.0);
		backface-visibility: hidden;
	}
	.hero-nav-color-block {
		position: absolute;
		top:2px;
		right:0;
		left:calc(100% - 7px);

		padding:0 13px;
		line-height:47px;

		color:$white;

		transition:all .75s ease;

		transform:translate3d(0,0,0) scale(1.0,1.0);
		backface-visibility: hidden;
	}
	li a:hover {
		.hero-nav-color-block {
			left:-100%;
			right:0;
			transition:all .75s ease;
			transform: translate3d(0,0,0), rotate(0.02deg);
		}
	}
	li {
		&.neighborhoods {
			a {
				color:$neighborhoods;
			}
			.hero-nav-color-block {
				background: $neighborhoods;
			}
		}
		&.prevention {
			a {
				color:$prevention;
			}
			.hero-nav-color-block {
				background: $prevention;
			}
		}
		&.schools {
			a {
				color:$schools;
			}
			.hero-nav-color-block {
				background: $schools;
			}
		}
		&.places {
			a {
				color:$places;
			}
			.hero-nav-color-block {
				background: $places;
			}
		}
		&.grants {
			a {
				color:$grants;
			}
			.hero-nav-color-block {
				background: $grants;
			}
		}
		&.action {
			a {
				color:$action;
			}
			.hero-nav-color-block {
				background: $action;
			}
		}
	}
}

@media (min-width:$screen-sm-min) {
	.hero-container-text, .hero-nav {
		top:50%;
		transform:translate3d(0,-50%,0);
		position: relative;
	}
}

// Filters

.filters {
	margin:0;
	padding:0;
	// Global
	li a {
		color:$white;
		background-color:$accentDark;
		display: block;
		padding:25px;
		&.reset {
			span {
				top: 50%;
				position: relative;
				transform: translate3d(0,-50%,0);
			}
		}
		&:hover {
			background-color: $accentLight;
			background-image:none;
			transition:background .35s ease;
			&:after {
				border:2px solid $white;
				transition:border-color .35s ease;
			}
		}
	}

	// Top Level
	> li {
		line-height:1;
		float:left;
		width: 100%;
		@media (min-width:$screen-sm-min) {
			width:33.333%;
			width:calc(100% / 3);
		}
		
		position: relative;
		overflow: hidden;
		&.open {
			overflow: visible;
		}
		&.selected {
			> a {
				padding:0;
			}
		}
	}
	> li > a {
		padding-right:70px;
		height:97px;
		position: relative;
		transition:background .25s ease;
		// This is the vertical stripe/border on the right of each select box
		background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAA+CAYAAADqOXHxAAAAFUlEQVQoU2P4//+/MAOQkBoliCbEAVA4v4lQh5RzAAAAAElFTkSuQmCC);
		background-repeat: no-repeat;
		background-position: center right;
		cursor: pointer;
		span {
			font-size:27px;
			@media (max-width:$screen-sm-max) {
				font-size:22px;
			}
			font-family:$headings-font-family;
			text-transform: uppercase;
			color:$accentLighter;
			display: block;

		}
		&:after {
			width:31px;
			height:31px;
			content:"+";
			font-size: 28px;
			line-height:26px;
			text-align: center;
			color: $white;
			border:2px solid $accentLighter;
			display: block;
			border-radius:50%;
			position: absolute;
			right:25px;
			top:50%;
			margin-top:-15px;
			transition:border-color .25s ease;
		}
		&.reset {
			background-color:$accentLight;
			&:after {
				content:"x";
				font-size: 21px;
				line-height: 24px;
			}	
		}
	}

}

.sub-filter {
	position: absolute;
	z-index:20;

	top:-120px;
	left:0;

	width:100%;
	height:320px;

	overflow: hidden;
	overflow-y: scroll;

	transform:translate3d(-100%,-100%,0);

	max-height:90px;
	transition:max-height 2s;

	.selected & {
		transform: translate3d(0,0,0);
		top:0;
		overflow: visible;
		.selected {
			position: absolute;
			top:0;
			left:0;
			height: 97px;
			width: 100%;
			background: $accentLight;
			a {
				font-size:27px;
				height: 100%;
				font-family:$headings-font-family;
				text-transform: uppercase;
				color:$accentLighter;
				display: block;
				background: none;
				padding-right:65px;
				//background: $accentLight;
				span {
					position: relative;
					top:50%;
					transform: translate3d(0,-50%,0);
					display: block;
					@media (max-width:$screen-sm-max) {
						font-size:22px;
					}
				}
				&:after {
					width:31px;
					height:31px;
					content:"x";
					font-size: 21px;
					line-height: 22px;
					text-align: center;
					text-transform: lowercase;
					color: $white;
					border:2px solid $accentLighter;
					display: block;
					border-radius:50%;
					position: absolute;
					right:25px;
					top:50%;
					margin-top:-15px;
					transition:border-color .25s ease;
				}
			}
		}
	}

	&.facetwp-facet {
		font-size:$font-size-base;
		margin:0;
	}

	.open & {
		transform:translate3d(0,0,0);
		max-height:999px;
	}
	.active {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		a {
			padding: 39px 25px;
		}
	}
	li {
		display: block;
		padding: 0;
		margin: 0;
	}
	li a {
		background: $white;
		color:$accentDark;
		&:hover {
			color:$white;
		}
	}
}

.grid-item {
	border-top:10px solid transparent;
	background: $white;
	text-align: left;
	width:100%;
	height:340px;
	@media (min-width:$screen-sm-min) {
		width:49.65%;
	}
	@media (min-width:$screen-lg-min) {
		width:330px;
	}
	margin:0 0 5px 0;
	float:left;
	//transition:all 1s;
	transition:background-color .3s;
	transform:translate3d(0,0,0);
	transform:scale(.4);
	opacity:0;
	&:hover {
		background-image:url(../img/svg/pattern.svg);
	}
	&.loaded {
		transform:scale(1);
			opacity:1;
	}
	a {
		display: block;
		width:100%;
		height:100%;
		background-repeat: no-repeat;
		background-position: center center;
	}
	&:not(.grid-video) a{
		padding:15px 22px;
	}
}

/* .grid-container {
	&[style*="position: relative;"] {
		> .grid-item {
			transform:scale(1);
			opacity:1;
		}
	}
	.alm-reveal {
		> .grid-item {
			transform:scale(1);
			opacity:1;
		}
	}
} */

.grid-container {
	transition: height .5s;
}

#ajax-load-more {
	margin-bottom:100px;
	.alm-btn-wrap {
		text-align: center;
		transform:translate3d(0,0,0);
		transition:all .25s;
		padding:2em 0 0;
		.more {
			transform:translate3d(0,0,0);
		}
		.done {
			display: none;
		}
	}
}

.grid-video {
	height:360px;
	&:hover {
		.grid-play-button {
			opacity:1;
		}
		a {
			transform: rotate(10deg);
			transform: scale(1.1);
			transition: transform .3s;
		}
	}
	a {
		background-size:cover;
		transform:translate3d(0,0,0);
		transition: transform .3s;
	}
	overflow: hidden;
}

.grid-news, 
.grid-post,
.grid-report,
.grid-action {
	height:480px;
}

.hero-item {
	background-color:$orange;
	background-position:bottom center;
	background-image:url(../img/svg/pattern.svg);
	transition:background-color .25s;
	&:hover {
		background-color:$accentLighter !important;
		border-color:$black !important;
	}
}

.hero-item {
	background-color:$accentLight;
	text-align: center;
	a {
		color:$white;
	}
	p {
		font-size:16px;
		font-weight:600;
	}
	.grid-title {
		font-size:27px;
		font-family:$headings-font-family;
		text-transform: uppercase;
		display: block;
		font-weight:500;
		color:$accentLighter;
		color:rgba(255,255,255,.8);
		padding: 0 0 10px 0;
	}
}

.grid-play-button {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAaCAYAAAC3g3x9AAAB5UlEQVRIx62Vy0sCYRTFtbQHpZFmBFFZUSgEKRQpRdAmMIza1TpdRKR/QUb0F2iE4EKhXbtIodYmrV3oRjASBEFKXPjA50xnRic0H40zXjir4f648333nE9AkqRI0M+qVqvnpVLpzuVyTQkEwkHewHw+b8GUZLlcjofD4VNAR6ABzsBMJmMlGyqdTj95PJ4lQEV9AVJVqVTS0Wj0EtDRnqdtB2QK3958Pt86oGJIyBtIFS4tH4/HbwyGAymraf8DMpXL5UJ+v38X0KGu07IFUkUQRCWZTN5bLFZFxxXrBchUoVCIBYPBY0CHW6blAmQGTqVSjw6HY75pxXgAybohviKRiPnXEHyBVCUSiVej8XCFPgI+wGw2m3Q6nVcA6aEF2ghcgLhtApfyrFKpjYBsQEpISp9lr0B4/dNmu7aieRtSQYqmQGELhGOKgUDgQSaT76NZC81B4y37yAaIZQ6ZTOaz+lmtQvKOjukGRPBmvV6vQyQS76GZColZaKyrpzsBY7HYOwLhBM1b0DI0ySp1/gKR4N9ut/sWjVQQrEEzPeViA5DAE/Ci0WiP0LwJLUITNVuxzEIGWCwWP+x2+wUadyA1NM35bYEPVTqdXlnfKcroEp6vH9VM35ykbRxxAAprv8YbRNcPLQ91RS2X3FsAAAAASUVORK5CIIA=) no-repeat center center;
	width:96px;
	height:96px;
	border: 2px solid $white;
	border-radius:50%;
	display: block;
	font-size:0;
	line-height:0;
	margin:0 auto;
	opacity:.5;
	transition:opacity .25s;
}

.grid-news {
	height:380px;
}

.grid-infographic,
.grid-page {
	height:360px;
}

.facetwp-template {
	height:1510px;
	position:relative;
}

.loading_data {
	background:url(../img/svg/placemarker.svg) no-repeat center center;
	width: 100%;
	height:200px;
	animation: downarrow 0.6s infinite alternate ease-in-out;
	font-size:0;
	line-height:0;
	text-align: center;
	background-size:80px;
	transform:translate3d(0,0,0);
	position: relative;
	transform-origin: 50% 50%;
}

@keyframes downarrow {
  0% { transform: translateY(0); opacity: 0.9 }
  100% { transform: translateY(10px); opacity: 0.4 }
}