.parallax-image {
	height:600px;
	@media (min-width:$screen-md-min) {
		height: 520px;
	}
	@media (min-width:2200px) {
		height: 770px;
	}
	@media (max-width:$screen-xs-max) {
		height: 110px;
		background-repeat: no-repeat;
		background-position: top center !important;
		.stripe & {
			height: 171px;
			background-size: contain;
  			background-attachment: inherit;
		}
	}
	width: 100%;
	background-size:cover;
	background-position:center top;
	background-repeat: no-repeat;
    background-attachment:fixed;
}

.hentry, .report-container, .panel-group, .stripe {
	img {
		max-width:100%;
		height: auto;
	}
	iframe {
		@media (max-width:$screen-sm-max) {
			max-width: 100%;
		}
	}
	@media (max-width:$screen-xs-max) {
		word-wrap:break-word;
	}
}