.parallax-image {
	height:600px;
	@media (max-width:$screen-xs-max) {
		height:300px;
	}
	width: 100%;
	background-size:cover;
	background-position:center center;
}

.hentry, .report-container {
	img {
		max-width:100%;
		height: auto;
	}
}