.place-grid {
	margin-top:2.61111111111111em;
	margin-bottom:2.61111111111111em;
	li {
		vertical-align: top;
		text-align: center;
		width:14.28571428571429%;
		width:calc(100% / 7);
		padding:0 6px 6px 0;
		font-size:18px;
	}
	&:not(.grid-5-up) {
		li:nth-child(7n+7) {
			padding-right:0;
		}
	}
	&.grid-5-up {
		max-width:700px;
		margin-left: auto;
		margin-right:auto;
		li {
			width:20%;
			&:nth-child(5n+5) {
				padding-right:0;
			}
		}
	}
	a {
		background: $white;
		color:$black;
		height:250px;
		border:1px solid darken($white, 10%);
		transform:translate3d(0,0,0);
		transition:all .25s;
	}
	.temperature {
		font-size:24px;
		position: relative;
		display: inline;
		z-index:2;
		&:after {
			background: $white;
			border-radius:50%;
			width:54px;
			height:54px;
			position: absolute;
			content:"";
			display: block;
			left: -15px;
			top: -10px;
			z-index: -1;
		}
	}
	li a:not(.placemarker):hover {
		background:$red url(../img/svg/pattern.svg) repeat;
		color:$white;
		.temperature {
			color:$white;
		}
		.temperature:after {
			background: $red;
		}
	}
}

.icon-places-placemarker {
	width:64px;
	height:77px;
	margin:0 auto;
}