.resources-container {
	padding-top: 2em;
	padding-bottom: 2em;
	img {
		max-width: 100%;
		height: auto;
	}
	font-size: 15px;
	ol, ul {
		list-style-type: disc;
		padding-left: 1em;
		padding-bottom: 1em;
	}
	a {
		text-decoration: underline;
		color: $accentDark;
		&:hover {
			color: $accentLighter;
		}
	}
}