nav.affix {
	top:170px;
	opacity: 0;
	z-index:20;
}

.side-nav {
	width: 150px;
	li {
		a {
			display: block;
			color:$white;
			padding: 7px 15px;
			border-bottom:1px solid transparent;
			font-size:18px;
			font-weight:600;
		}
		&:last-child a {
			border: none;
		}
	}
}