.splash-message {
	width: 80%;
	
	background: #f3c500 url(../img/tce_modal.png) no-repeat right bottom;
	position: fixed;
	left: 10%;
	top: 10%;
	z-index: 1000;
	color: white;
	padding: 0 20px 0 20px;
	text-align: left;
	color: #383838;

	border-radius: 3px;

	@media (min-width:$screen-sm-min) {
		width: 700px;
		left: 50%;
		margin-left: -350px;
		top: 50vh;
		margin-top: -200px;
		background-position: 460px bottom;
		line-height: 1.2;
		text-align: center;
		background-size: 16%;
	}
	h2,h3 {
		font-weight: normal;
		color: #383838;
		@media (max-width:$screen-xs-max) {
			font-size: 1em;
		}
		span {
			font-weight: bold;
		}
	}
	.btn {
		background: white;
		border: 3px solid #383838;
		&:hover {
			background: #383838;
			color: white;
		}
	}
	
	&.closed {
		z-index: -1;
		max-height: 0;
		overflow: hidden;
	}
	p.splash-cta {
		margin: 20px 0 35px;
		@media (max-width:$screen-xs-max) {
			font-size: .75em;
		}
	}
	a:not(.btn) {
		text-decoration: underline;
		font-size: 12px;
		margin-right: 1em;
	}
	a {
		cursor: pointer;
		color: #383838;
		
	}
}