.splash-message {
	width: 80%;
	
	background: #2f2f2f;
	position: fixed;
	left: 10%;
	top: 10%;
	z-index: 1000;
	color: white;
	padding: 20px;
	text-align: center;

	@media (min-width:$screen-sm-min) {
		width: 700px;
		left: 50%;
		margin-left: -350px;
		top: 50vh;
		margin-top: -200px;
	}
	h2,h3 {
		color: #b3a532;
		@media (max-width:$screen-xs-max) {
			font-size: 1.25em;
		}
	}
	.btn {
		background: #59b498;
	}
	
	&.closed {
		z-index: -1;
		max-height: 0;
		overflow: hidden;
	}
	.pull-right,
	.pull-left {
		margin: 2em 0 0;
		font-size: 12px;
	}
	a:not(.btn) {
		color: white;
		text-decoration: underline;
	}
	a {
		cursor: pointer;
	}
}