@mixin input-placeholder($color) {
	&::-webkit-input-placeholder {
		color: $color
	} 
	&:-moz-placeholder {
	color: $color
	}

	&::-moz-placeholder {
		color: $color
	}

	&:-ms-input-placeholder {
		color: $color
	}
    
}
  

.search-form {
	position: relative;
	@media (max-width:$screen-xs-max) {
		.banner & {
			display: none;
		}
	}
}

.search-submit {
	background:url(../img/svg/magnifier.svg) no-repeat;
	width:16px;
	height:16px;
	font-size:0;
	line-height:0;
	padding: 0;
	position: absolute;
	left: 10px;
	top: 50%;
	margin: -8px 0 0;
	
}

.search-field {
	border-radius:0;
	border:none;
	height:54px;
	padding:1em 1em 1em 2em;
	font-size:16px;
	width:170px;
	@include input-placeholder($grey2);
}