.social-icons {
	text-align: center;
	padding:1em 0;
	@media (min-width:$screen-sm-min) {
		padding:24px 163px 0 0;
	}
	@media (max-width:$screen-sm-max) {
		.nav-full-screen-branding & {
			display: none;
		}
	}
	li[class*='icon'] {
		width:40px;
		height:40px;
		cursor:pointer;
		background-position:center;
		border:2px solid #565656;
		border-radius:50%;
		margin:0 2px;
		position: relative;
		span {
			display: none;
		}
		&:hover {
			border-color:$white;
		}
	}
	@media (min-width:$screen-sm-min) {
		.text-right & {
			text-align: right;
			padding-right:0;
		}
	}
}

.popover-content {
	padding:0 5px;
	text-align: center;
	top: 50%;
	position: relative;
	transform:translate3d(0,-50%,0);
	> * {
		margin:0 auto;
		display: block;
	}
}

.popover {
	height:42px;
	max-width:100px;
}

.icon-youtube + .popover {
	max-width:130px;
	div[id*='ytsubscribe'] {
		display: block !important;
	}
}

.icon-instagram + .popover {
	max-width:151px;
	a[class*='ig'] {
		display: block !important;
	}
}

.ig-b- { display: inline-block; }
.ig-b- img { visibility: hidden; }
.ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
.ig-b-v-24 { 
	width: 137px; 
	height: 24px; 
	background: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24.png) no-repeat 0 0; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
.ig-b-v-24 { background-image: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24@2x.png); background-size: 160px 178px; } }