 
.icon-bullet {
	background-image: url('png/icon-bullet.png');
	background-repeat: no-repeat;
}

 
.icon-facebook {
	background-image: url('png/icon-facebook.png');
	background-repeat: no-repeat;
}

 
.icon-facebook-sm {
	background-image: url('png/icon-facebook-sm.png');
	background-repeat: no-repeat;
}

 
.icon-hamburger {
	background-image: url('png/icon-hamburger.png');
	background-repeat: no-repeat;
}

 
.icon-health-placemarker-communities {
	background-image: url('png/icon-health-placemarker-communities.png');
	background-repeat: no-repeat;
}

 
.icon-health-placemarker-neighborhoods {
	background-image: url('png/icon-health-placemarker-neighborhoods.png');
	background-repeat: no-repeat;
}

 
.icon-health-placemarker-places {
	background-image: url('png/icon-health-placemarker-places.png');
	background-repeat: no-repeat;
}

 
.icon-instagram {
	background-image: url('png/icon-instagram.png');
	background-repeat: no-repeat;
}

 
.icon-lg-arrow {
	background-image: url('png/icon-lg-arrow.png');
	background-repeat: no-repeat;
}

 
.icon-linkedin {
	background-image: url('png/icon-linkedin.png');
	background-repeat: no-repeat;
}

 
.icon-magnifier {
	background-image: url('png/icon-magnifier.png');
	background-repeat: no-repeat;
}

 
.icon-placemarker-white {
	background-image: url('png/icon-placemarker-white.png');
	background-repeat: no-repeat;
}

 
.icon-places-placemarker {
	background-image: url('png/icon-places-placemarker.png');
	background-repeat: no-repeat;
}

 
.icon-plus-sign {
	background-image: url('png/icon-plus-sign.png');
	background-repeat: no-repeat;
}

 
.icon-sm-arrow {
	background-image: url('png/icon-sm-arrow.png');
	background-repeat: no-repeat;
}

 
.icon-sm-down-arrow {
	background-image: url('png/icon-sm-down-arrow.png');
	background-repeat: no-repeat;
}

 
.icon-twitter {
	background-image: url('png/icon-twitter.png');
	background-repeat: no-repeat;
}

 
.icon-twitter-sm {
	background-image: url('png/icon-twitter-sm.png');
	background-repeat: no-repeat;
}

 
.icon-youtube {
	background-image: url('png/icon-youtube.png');
	background-repeat: no-repeat;
}

 
.icon-logo {
	background-image: url('png/logo.png');
	background-repeat: no-repeat;
}

 
.icon-logo-white {
	background-image: url('png/logo-white.png');
	background-repeat: no-repeat;
}

 
.icon-pattern {
	background-image: url('png/pattern.png');
	background-repeat: no-repeat;
}

